{% extends "templates/web_alt.html" %}
{% from "templates/macros/for_detail_page.html" import page_head, meta_bar %}

{% block page_content %}

{{ page_head ( 'AGENDA', doc.judul, doc.category ) }}

{{ meta_bar("Organizer:", doc.host, doc.creation, doc.rating, doc.like_count, doc.favorite_count, doc.member_count ) }}

<div>
    <img src="{{ doc.image }}" alt="">
</div>
<h5 class="mt-5 mb-4">{{ doc.subjudul }}</h5>
<div class="mt-6">
    <div>{{ doc.deskripsi }}</div>
</div>

<div class="my-6">
    <table>
        <tr><td>Location</td><td>&nbsp;:&nbsp;&nbsp;</td><td class="font-weight-bold">{{ doc.location }}</td></tr>
        <tr><td>Start</td><td>&nbsp;:&nbsp;&nbsp;</td><td class="text-md-right">{{ frappe.format_date(doc.starts_on) }}</td></tr>
        <tr><td>End</td><td>&nbsp;:&nbsp;&nbsp;</td><td class="text-md-right">{{ frappe.format_date(doc.ends_on) }}</td></tr>
    </table>
    <button class="btn btn-primary mt-6 ml-4">Register to Join</button>
</div>

{% endblock %}
