{% extends "templates/web_alt.html" %}

{% block page_content %}

<a href="#" onclick="history.back()" class="text-decoration-none">
    <i class="fa fa-chevron-left mr-2 text-muted"></i>
    <span class="text-uppercase mt-6 text-dark">AGENDA</span>
</a>

<h1 class="my-4">{{ title }}</h1>

<div class="small text-muted">
{%- for cat in doc.category -%}
    <span class="cat-bullet">
        {{ cat.category }}
    </span>
{%- endfor -%}
</div>

<div class="info row py-2 py-sm-0">
    <div class="meta-publisher col-12 col-sm-6 text-center text-sm-left font-weight-bold">{{ doc.organizer }}</div>

    {% set date = frappe.utils.formatdate(doc.creation, "dd mmmm yyyy") %}
    <div class="meta-publish col-12 col-sm-6 col-md-3 pt-4 pt-sm-0 text-center text-sm-right small align-self-center">{{ date }}</div>

    <div class="meta-icons flex col-12 col-md-3 pt-4 pt-sm-0 small align-self-center justify-content-around justify-content-sm-between">
        <div class="">
            {% if doc.rating == 5 -%}
            <span><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i></span>
            {% elif doc.rating == 4 -%}
            <span><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star-o text-muted"></i></span>
            {% elif doc.rating == 3 -%}
            <span><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i></span>
            {% elif doc.rating == 2 -%}
            <span><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i></span>
            {% elif doc.rating == 1 -%}
            <span><i class="fa fa-star text-warning"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i></span>
            {% else %}
            <span><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i></span>
            {% endif %}
        </div>
        <div class=""><i class="fa fa-thumbs-o-up" id="likeCount" onClick="like()"></i> {{ doc.like_count }}</div>
        <div class=""><i class="fa fa-heart-o" id="favCount" onClick="fav()"></i> {{ doc.favorite_count }}</div>
        <div class=""><i class="fa fa-user-o" id="memberCount" onClick="member()"></i> {{ doc.member_count }}</div>
    </div>
</div>

<div>
    <img src="{{ doc.image }}" alt="">
</div>
<div class="my-6">
    <div>{{ doc.deskripsi }}</div>
</div>
<div class="my-6">
    <table>
        <tr><td>Location</td><td>:</td><td>{{ doc.location }}</td></tr>
        <tr><td>Start</td><td>:</td><td>{{ frappe.format_date(doc.starts_on) }}</td></tr>
        <tr><td>End</td><td>:</td><td>{{ frappe.format_date(doc.ends_on) }}</td></tr>
    </table>

</div>
{% endblock %}

<script>
    var likeCount = 10;

    function like(){
        likeCount++;
    }
</script>
