{% from "templates/macros/for_row_card.html" import card_image_top, card_tags, footer_icons_wrapper %}

<div class="content-card col-sm-12 {{ 'col-md-12 featured' if doc.featured else 'col-md-4' }}">
	<div class="card h-100">
		<div class="card-img-top {{ 'feat-img row mx-0' if doc.featured }} position-relative">
            {{ card_image_top( doc.image, doc.judul, doc.rating, doc.featured, doc.featured_image, doc.featured_text) }}
            <div class="member row small">
                {% if doc.agenda_type == 'Cancelled' %}
                    <div class="text-danger text-white">
                {% elif doc.agenda_type == 'Public' %}
                    <div class="text-success">
                    <i class="fa fa-user mr-1"></i>
                {% else %}
                    <div class="text-info">
                    <i class="fa fa-user mr-1"></i>
                {% endif %}
                    <span>{{ doc.agenda_type }}</span>
                </div>
            </div>
        </div>
		<div class="card-body {{ 'flex-row' if doc.featured }}">
            <div class="kolom-1 col-12 {{ 'col-md-4' if doc.featured }} px-0">
                <div>
                    <div class="text-muted small">
                        {%- if doc.featured -%}
                            <span class="text-danger font-weight-bold">{{ _('Featured') }} &middot; </span>
                        {%- endif -%}
                        <span class="text-success">
                            {%- for cat in doc.multi_category -%}
                                {{ "#" if loop.first }}{{ cat.category }}<span class="text-muted">{{ " | " if not loop.last }}</span>
                            {%- endfor -%}
                        </span>
                    </div>
                    <h5 class="mt-1"><span class="text-dark">{{ doc.judul }}</span></h5>
                </div>
                <div class="content-card-footer row px-4 mb-3">
                    <div class="text-muted small pl-2">
                        <table>
                            <tr><td class="small">Location</td><td>:</td><td class="font-weight-bold">{{ doc.location }}</td></tr>
                            <tr><td class="small">Start</td><td>:</td><td>{{ frappe.format_date(doc.starts_on) }}</td></tr>
                            <tr><td class="small">End</td><td>:</td><td>{{ frappe.format_date(doc.ends_on) }}</td></tr>
                        </table>
                    </div>
                </div>
                {{ footer_icons_wrapper("column", doc.like_count, doc.favorite_count, doc.member_count, doc.featured) }}
            </div>
            <div class="kolom-2 {{ 'col-md-8 d-none d-md-block pr-0' if doc.featured else 'd-none' }} align-self-center">
                <div class="text-muted small">{{ doc.featured_text }}</div>
            </div>
		</div>
		<a class="stretched-link" href="/{{ doc.route }}"></a>
	</div>
</div>
