{% extends "templates/web_alt.html" %}

{% block title %}{{ _("Agenda") }}{% endblock %}
{% block hero %}{% endblock %}

{% block page_content %}

{{ web_block("Hero",
	values={
		'title': _("Agenda"),
		'subtitle': introduction or '',
	},
	add_container=0,
	add_top_padding=0,
	add_bottom_padding=0,
	css_class="py-5",
) }}

{% from "templates/macros/for_list_page.html" import cat_chooser, content_list %}

{{ cat_chooser("Category Agenda") }}

<div class="list-content">
{{ content_list(result) }}
</div>

{% endblock %}

{% block script %}
<script>{% include "templates/includes/list/list.js" %}</script>
{% endblock %}
