<div class="content-card col-sm-12 {{ 'col-md-12 featured' if doc.featured else 'col-md-4' }}">
	<div class="card h-100">
		<div class="card-img-top {{ 'feat-img row mx-0' if doc.featured }} position-relative">
            <div class="{{ 'col-12 col-md-4' if doc.featured }} px-0">
                {% if doc.image %}
                <img src="{{ doc.image }}" alt="{{doc.judul}} - Cover Image">
                {% else %}
                <img src="/assets/tuamuda_cms/image/default-cover.png" alt="{{doc.judul}} - Cover Image">
                {% endif %}
                <div class="member row small">
                    {% if doc.agenda_type == 'Cancelled' %}
                        <div class="text-danger text-white">
                    {% elif doc.agenda_type == 'Public' %}
                        <div class="text-success">
                        <i class="fa fa-user mr-1"></i>
                    {% else %}
                        <div class="text-info">
                        <i class="fa fa-user mr-1"></i>
                    {% endif %}
                        <span>{{ doc.agenda_type }}</span>
                    </div>
                </div>
            </div>
            <div class="{{ 'col-md-8 d-md-block' if doc.featured }} px-0 d-none">
                {%- if doc.featured_image -%}
                <img src="{{ doc.featured_image }}" alt="{{doc.judul}} - Feature Image">
                {%- elif doc.image -%}
                <img src="{{ doc.image }}" alt="{{doc.judul}} - Feature Image">
                {% else %}
                <img src="/assets/tuamuda_cms/image/default-cover.png" alt="{{doc.judul}} - Cover Image">
                {%- endif -%}
                <div class="member row text-success">
                    <div>
                        <i class="fa fa-user mr-1"></i>
                        <span>Member</span>
                    </div>
                </div>
            </div>
            <div class="star row">
                <div><i class="fa {{ 'fa-star text-warning' if doc.rating else 'fa-star-o text-muted' }} pr-2" id="ratingCount" onClick="rating()"></i></div>
                <div class="small align-self-center font-weight-bold">{{ doc.rating if doc.rating else 0 }}</div>
            </div>
        </div>
		<div class="card-body {{ 'flex-row' if doc.featured }}">
            <div class="kolom-1 col-12 {{ 'col-md-4' if doc.featured }} px-0">
                <div>
                    <div class="text-muted small">
                        {%- if doc.featured -%}
                            <span class="text-danger font-weight-bold">{{ _('Featured') }} &middot; </span>
                        {%- endif -%}
                        <span class="text-success">
                            {%- for cat in doc.multi_category -%}
                                {{ "#" if loop.first }}{{ cat.category }}<span class="text-muted">{{ " | " if not loop.last }}</span>
                            {%- endfor -%}
                        </span>
                    </div>
                    <h5 class="mt-1"><span class="text-dark">{{ doc.judul }}</span></h5>
                </div>
                <div class="content-card-footer row px-4 mb-3">
                    <div class="text-muted small pl-2">
                        <table>
                            <tr><td class="small">Location</td><td>:</td><td class="font-weight-bold">{{ doc.location }}</td></tr>
                            <tr><td class="small">Start</td><td>:</td><td>{{ frappe.format_date(doc.starts_on) }}</td></tr>
                            <tr><td class="small">End</td><td>:</td><td>{{ frappe.format_date(doc.ends_on) }}</td></tr>
                        </table>
                    </div>
                </div>
                <div class="likes row {{ 'mr-md-4 mr-lg-6' if doc.featured }} small">
                    <div class="col text-center text-muted px-0"><i class="fa fa-thumbs-o-up" id="likeCount" onClick="like()"></i><div class="small">{{ doc.like_count }} likes</div></div>
                    <div class="col text-center text-muted px-0"><i class="fa fa-heart-o" id="favCount" onClick="fav()"></i><div class="small">{{ doc.favorite_count }} saves</div></div>
                    <div class="col text-center text-muted px-0"><i class="fa fa-user-o" id="memberCount" onClick="member()"></i><div class="small">{{ doc.member_count }} follow</div></div>
                </div>
            </div>
            <div class="kolom-2 {{ 'col-md-8 d-none d-md-block pr-0' if doc.featured else 'd-none' }} align-self-center">
                <div class="text-muted small">{{ doc.featured_text }}</div>
            </div>
		</div>
		<a class="stretched-link" href="/{{ doc.route }}"></a>
	</div>
</div>
