{% macro card_image_top( image, judul, rating, featured=None, featured_image=None, featured_text=None) %}
    <div class="{{ 'col-12 col-md-4' if featured }} px-0">
        <img src="{{ image or '/assets/tuamuda_cms/image/default-cover.png' }}" alt="{{ judul }} - Cover Image">
    </div>
    <div class="{{ 'col-md-8 d-md-block' if featured else 'd-none' }} px-0">
        {%- if featured_image -%}
        <img src="{{ featured_image }}" alt="{{judul}} - Feature Image">
        {% else %}
        <img src="{{ image or '/assets/tuamuda_cms/image/default-cover.png' }}" alt="{{ judul }} - Cover Image">
        {%- endif -%}
    </div>
    <div class="star row">
        <div><i class="fa {{ 'fa-star text-warning' if rating else 'fa-star-o text-muted' }} pr-2" id="ratingCount" onClick="rating()"></i></div>
        <div class="small align-self-center font-weight-bold">{{ rating | default(0, true) }}</div>
    </div>
{% endmacro %}

{% macro card_image_left( image, judul, rating, featured=None) %}
    <div class="px-0 h-100">
        {% if image %}
        <img src="{{ image }}" alt="{{ judul }} - Cover Image">
        {% else %}
        <img src="/assets/tuamuda_cms/image/default-cover.png" alt="{{ judul }} - Cover Image">
        {% endif %}
    </div>
    <div class="star row">
        <div><i class="fa {{ 'fa-star text-warning' if rating else 'fa-star-o text-muted' }} pr-2" id="ratingCount" onClick="rating()"></i></div>
        <div class="small align-self-center font-weight-bold">{{ rating or 0 }}</div>
    </div>
{% endmacro %}

{% macro card_tags(category, status=None, featured=None) %}
    <div class="card-tags">
        <div class="text-muted small">
            {%- if status=="Closed" -%}
                <span class="text-danger font-weight-bold">{{ status }} &middot; </span>
            {%- endif -%}
            {%- if featured -%}
                <span class="text-danger font-weight-bold">{{ _('Featured') }} &middot; </span>
            {%- endif -%}
            <span class="text-success">#
                {%- for cat in category -%}
                    {{ cat.category }}<span class="text-muted">{{ " | " if not loop.last }}</span>
                {%- endfor -%}
            </span>
        </div>
    </div>
{% endmacro %}

{% macro card_footer_avatar(avatar) %}
    {%- if avatar -%}
    <img class="avatar website-image-extra-small" src="{{ avatar }}">
    {%- else -%}
    <img class="avatar website-image-extra-small" src="assets/tuamuda_cms/image/avatar.png">
    {%- endif -%}
{% endmacro %}

{% macro card_footer_owner(owner, published_on, read_time) %}
    <div class="text-muted small pl-2">
        <div class="">{{ owner }}</div>
        <div class="small">
            {{ frappe.format_date(published_on) }}
            {% if read_time %} &middot; {{ read_time }} min read {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro footer_icons(flex, like_count, favorite_count, member_count, featured) %}
    <div class="d-flex flex-{{flex}} text-center text-muted px-md-4"><i class="fa fa-thumbs-o-up text-info {% if flex=='row' %} pr-1 {% elif flex=='column' %} pb-1 {% endif %}" id="likeCount" onClick="like()"></i><div class="small">{{ like_count }} likes</div></div>
    <div class="d-flex flex-{{flex}} text-center text-muted px-md-4"><i class="fa fa-heart-o text-danger {% if flex=='row' %} pr-1 {% elif flex=='column' %} pb-1 {% endif %}" id="favCount" onClick="fav()"></i><div class="small">{{ favorite_count }} saves</div></div>
    <div class="d-flex flex-{{flex}} text-center text-muted px-md-4"><i class="fa fa-user-o text-success {% if flex=='row' %} pr-1 {% elif flex=='column' %} pb-1 {% endif %}" id="memberCount" onClick="member()"></i><div class="small">{{ member_count }} follow</div></div>
{% endmacro %}

{% macro footer_icons_wrapper(flex, like_count, favorite_count, member_count, featured=None) %}
    <div class="likes d-flex flex-row {{ 'mr-md-4 mr-lg-6' if featured }} small mt-auto justify-content-between">
        {{ footer_icons(flex, like_count, favorite_count, member_count, featured) }}
    </div>
{% endmacro %}
