{% from "templates/macros/for_row_card.html" import card_head, card_image, card_footer_avatar, card_footer_owner %}

<div class="content-card col-sm-12 {{ 'col-md-8' if doc.featured else 'col-md-4' }}">
	<div class="card h-100">
		<div class="card-img-top">
            {{ card_image ( doc.image, doc.nama ) }}
        </div>
		<div class="card-body">
            {{ card_head ( doc.featured, doc.multi_category, doc.nama, doc.propinsi ) }}

			<div class="content-card-footer row px-4">
                {{ card_footer_avatar (doc.avatar) }}
                {{ card_footer_owner(doc.owner, doc.published_on, doc.read_time) }}

			</div>
		</div>
		<!-- <a class="stretched-link" href="/{{ doc.route }}"></a> -->
	</div>
</div>
