{% extends "templates/web_alt.html" %}
{% block title %}{{ podcast_title or _("Members") }}{% endblock %}
{% block hero %}{% endblock %}

{% block page_content %}

{{ web_block("Hero",
	values={
		'title': room_title or _("Members"),
		'subtitle': room_introduction or '',
	},
	add_container=0,
	add_top_padding=0,
	add_bottom_padding=0,
	css_class="py-5",
) }}

{% set catlist = frappe.get_list("Category Member") %}
<div id="cat-chooser" class="small">
    <span id="chevron-left"></span>
    <span id="chevron-right"></span>
    <ul>
        {% for cat in catlist | sort(attribute='name') %}
        <li><a href="#">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="list-content">
	<div class="website-list" data-doctype="{{ doctype }}" data-txt="{{ txt or '[notxt]' | e }}">
		{% if not result -%}
		<div class="text-muted" style="min-height: 300px;">
			{{ no_result_message or _("Nothing to show") }}
		</div>
		{% else %}
		<div id="card-list" class="card-list result row">
			{% for item in result %}
			{{ item }}
			{% endfor %}
		</div>
		{% endif %}
		<button class="btn btn-light btn-more btn {% if not show_more -%} hidden {%- endif %}">{{ _("Load More") }}</button>
	</div>
</div>

{% endblock %}

{% block script %}
<script>{% include "templates/includes/list/list.js" %}</script>
{% endblock %}
