{% from "templates/macros/for_row_card.html" import card_image_left, card_pre_title %}

<style>
    .card {
        height: 8rem;
    }
    .content-card {
        margin-bottom: 1rem;
    }
    .card-img-left {
        overflow: hidden;
        border-top-left-radius: calc(0.75rem - 1px);
        border-bottom-left-radius: calc(0.75rem - 1px);
    }
    .card-body {
        padding-top: 0.5rem;
        /* height: 8rem; */
    }
    .content-card-footer {
        margin-top:0;
    }
    .likes {
        display: block;
        margin-top: auto;
    }
</style>

<div class="content-card col-12">
	<div class="card w-100 flex-row">
        <div class="card-img-left col-3 px-0">
            {{ card_image_left( doc.image, doc.judul, doc.rating, doc.featured ) }}
        </div>
		<div class="card-body col-9 d-flex-flex-column h-100">
            {{ card_pre_title(doc.featured, doc.multi_category) }}
            <h5 class="mt-1 text-dark">{{ doc.judul }}</h5>
            <div class="text-muted small text-truncate">{{ doc.subjudul }}</div>
			<div class="content-card-footer mt-auto float-right">
                <div class="likes small d-flex flex-row bg-transparent">
                    <div class="row text-muted mx-4"><i class="fa fa-thumbs-o-up" id="likeCount" onClick="like()"></i><div class="small pl-2">{{ doc.like_count }}</div></div>
                    <div class="row text-muted mx-4"><i class="fa fa-heart-o" id="favCount" onClick="fav()"></i><div class="small pl-2">{{ doc.favorite_count }}</div></div>
                    <div class="row text-muted mx-4"><i class="fa fa-user-o" id="memberCount" onClick="member()"></i><div class="small pl-2">{{ doc.member_count }}</div></div>
                </div>
			</div>
		</div>
		<a class="stretched-link" href="/{{ doc.route }}"></a>
	</div>
</div>
