{% from "templates/macros/for_row_card.html" import card_image_left, card_tags, footer_icons_wrapper, footer_icons %}

<style>
    .card {
        height: 8rem;
    }
    .content-card {
        margin-bottom: 1rem;
    }
    .card-img-left {
        overflow: hidden;
        border-top-left-radius: calc(0.75rem - 1px);
        border-bottom-left-radius: calc(0.75rem - 1px);
    }
    .card-body {
        padding-top: 0.5rem;
        /* height: 8rem; */
    }
    .content-card-footer {
        margin-top:0;
    }
    .likes {
        display: block;
        margin-top: auto!important;
        border-top: none;
        border-radius: 0;
    }
</style>

<div class="content-card col-12">
	<div class="card w-100 flex-row">
        <div class="card-img-left col-3 px-0">
            {{ card_image_left( doc.image, doc.judul, doc.rating, doc.featured ) }}
        </div>
		<div class="card-body col-9 d-flex flex-column h-100">
            <div class="d-flex flex-row justify-content-between">
                {{ card_tags(doc.multi_category, doc.status, doc.featured) }}
                <button class="btn-primary btn-sm align-self-end rounded">Join Chat</button>
            </div>
            <h5 class="text-dark">{{ doc.judul }}</h5>
            <div class="text-muted small text-truncate">{{ doc.subjudul or ""}}</div>
			<div class="content-card-footer mt-auto align-self-end">
                {{ footer_icons_wrapper("row", doc.like_count, doc.favorite_count, doc.member_count, doc.featured) }}
			</div>
		</div>
		<a class="stretched-link" href="/{{ doc.route }}"></a>
	</div>
</div>
