{% extends "templates/web_alt.html" %}
{% block title %}{{ podcast_title or _("Podcast") }}{% endblock %}
{% block hero %}{% endblock %}

{% block page_content %}

{{ web_block("Hero",
	values={
		'title': room_title or _("Podcast"),
		'subtitle': room_introduction or '',
	},
	add_container=0,
	add_top_padding=0,
	add_bottom_padding=0,
	css_class="py-5",
) }}

<style>
    .text-muted-light {
        color: #c8c8c8;
    }
    #cat-chooser {
        height: 30px;
        background-color: #f4f4f4;
        border-top: 1px solid #E2E6E9;
        border-bottom: 1px solid #E2E6E9;
        margin-bottom: 3rem;
        overflow: hidden;
        white-space: nowrap;
    }
    #cat-chooser ul {
        text-align: center;
        height: 30px;
        padding-left: 0;
        padding-right: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    #cat-chooser ul::-webkit-scrollbar {
        display: none;  /* Safari, Chrome */
    }

    #cat-chooser li {
        display: inline-block;
        list-style: none;
        width: 100px;
        line-height: 28px;
    }
    #cat-chooser li a {
        text-decoration: none;
        color: #333;
        display: block;
    }
    #cat-chooser li a:hover {
        text-decoration: none;
        /* color: #000000; */
        background-color: #ffc863;
    }
</style>

{% set catlist = frappe.get_list("Category Podcast") %}
<div id="cat-chooser" class="small">
    <span><i class="fa fa-chevron-left text-muted float-left my-2 pl-1 pr-2"></i></span>
    <span><i class="fa fa-chevron-right text-muted float-right my-2 pl-2 pr-1"></i></span>
    <ul>
        {% for cat in catlist | sort(attribute='name') %}
        <li><a href="#">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="list-content">
	<div class="website-list" data-doctype="{{ doctype }}" data-txt="{{ txt or '[notxt]' | e }}">
		{% if not result -%}
		<div class="text-muted" style="min-height: 300px;">
			{{ no_result_message or _("Nothing to show") }}
		</div>
		{% else %}
		<div id="card-list" class="card-list result row">
			{% for item in result %}
			{{ item }}
			{% endfor %}
		</div>
		{% endif %}
		<button class="btn btn-light btn-more btn {% if not show_more -%} hidden {%- endif %}">{{ _("Load More") }}</button>
	</div>
</div>

{% endblock %}

{% block script %}
<script>{% include "templates/includes/list/list.js" %}</script>
{% endblock %}
