{% extends "templates/web_alt.html" %}

{% block page_content %}

<style>
    .video-container {
        margin-top: 2rem;
        margin-bottom: 4rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: calc(100% - 120px);
        padding-top: 49.5%;
        position: relative;
    }
    @media (max-width:767px) {
        .video-container {
            width: calc(100% - 20px);
        }
    }
    iframe{
        box-shadow: 6px 6px 12px #b5b5b5;
        position: absolute;
        border-radius: 8px;
        width: 100%;
        height: 100%;
        top: 0;
    }
</style>

<a href="#" onclick="history.back()" class="text-decoration-none">
    <i class="fa fa-chevron-left mr-2 text-muted"></i>
    <span class="text-uppercase mt-6 text-dark">PODCAST</span>
</a>

<h1 class="my-4">{{ title }}</h1>

<div class="small text-muted">
{%- for cat in doc.category -%}
    <span class="cat-bullet">
        {{ cat.category }}
    </span>
{%- endfor -%}
</div>

<div class="info row py-2 py-sm-0">
    <div class="meta-publisher col-12 col-sm-6 text-center text-sm-left font-weight-bold">{{ doc.publisher }}</div>

    {% set date = frappe.utils.formatdate(doc.creation, "dd mmmm yyyy") %}
    <div class="meta-publish col-12 col-sm-6 col-md-3 pt-4 pt-sm-0 text-center text-sm-right small align-self-center">{{ date }}</div>

    <div class="meta-icons flex col-12 col-md-3 pt-4 pt-sm-0 small align-self-center justify-content-around justify-content-sm-between">
        <div class="">
            {% if doc.rating == 5 -%}
            <span><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i></span>
            {% elif doc.rating == 4 -%}
            <span><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star-o text-muted"></i></span>
            {% elif doc.rating == 3 -%}
            <span><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i></span>
            {% elif doc.rating == 2 -%}
            <span><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i></span>
            {% elif doc.rating == 1 -%}
            <span><i class="fa fa-star text-warning"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i></span>
            {% else %}
            <span><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i><i class="fa fa-star-o text-muted"></i></span>
            {% endif %}
        </div>
        <div class=""><i class="fa fa-thumbs-o-up" id="likeCount" onClick="like()"></i> {{ doc.like_count }}</div>
        <div class=""><i class="fa fa-heart-o" id="favCount" onClick="fav()"></i> {{ doc.favorite_count }}</div>
        <div class=""><i class="fa fa-user-o" id="memberCount" onClick="member()"></i> {{ doc.member_count }}</div>
    </div>
</div>

{%- if doc.video_source -%}
<div class="video-container">
    {% if doc.video_source == "YouTube" %}
        <iframe src="https://www.{{ doc.video_source | lower }}-nocookie.com/embed/{{ doc.video_id }}?autoplay=0&fs=0&iv_load_policy=3&autohide=2&&theme=light&showinfo=0&rel=0&cc_load_policy=0&modestbranding=1&showsearch=0&enablejsapi=1&rel=0" title="{{ doc.judul }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% elif doc.video_source == "Facebook" %}
        <iframe src="https://www.{{ doc.video_source }}.com/embed/{{ doc.video_id }}">Facebook video</iframe>
    {% else %}
        <span>No Video</span>
    {% endif %}
{%- else -%}
    <span>No Video</span>
{%- endif -%}
</div>

<div class="mt-6">
    <div>{{ doc.deskripsi }}</div>
</div>
{% endblock %}

<script>
    var likeCount = 10;

    function like(){
        likeCount++;
    }
</script>
