{% extends "templates/web_alt.html" %}
{% from "templates/macros/for_detail_page.html" import page_head, meta_bar %}

{% block page_content %}

{{ page_head ( 'VIDEO MEETUP', doc.judul, doc.multi_category ) }}

{{ meta_bar("Host:", doc.host, doc.creation, doc.rating, doc.like_count, doc.favorite_count, doc.member_count ) }}

<div class="content d-flex flex-column flex-md-row">
    <div class="kolom-1 col-12 col-md-4">
        {% if doc.image %}
        <img src="{{ doc.image }}" alt="{{ doc.judul }} - Cover Image" class="rounded-sm shadow">
        {% else %}
        <img src="/assets/tuamuda_cms/image/default-cover.png" alt="{{ doc.judul }} - Cover Image" class="rounded-sm shadow">
        {% endif %}
        <div class="d-flex flex-row justify-between">
            <div class="my-6">
                <div class="font-weight-bold">Available:</div>
                <table>
                    <tr><td class="pl-2">Start &nbsp;&nbsp;</td><td class="bg-yellow font-weight-bold text-right small">{{ frappe.format_date(doc.start, "dd MMM yyyy") }}</td></tr>
                    <tr><td class="pl-2">End</td><td class="bg-yellow font-weight-bold text-right small">{{ frappe.format_date(doc.end, "dd MMM yyyy") }}</td></tr>
                </table>
            </div>
            <div class="mt-6 text-center align-self-center">
                <a href="https://meet.jit.si/{{doc.judul}}" class="btn btn-sm btn-info" target="_blank">Join Meetup</a>
            </div>
        </div>
    </div>
    <div class="kolom-2 col-12 col-md-8 pt-6 pt-md-0">
        <h5 class="mb-4 text-muted">{{ doc.subjudul }}</h5>

        <div class="mt-6">
            <div>{{ doc.deskripsi }}</div>
        </div>
    </div>
</div>

{% endblock %}

