{% extends "templates/web_alt.html" %}
{% from "templates/macros/for_detail_page.html" import page_head, meta_host, meta_icons %}

{% block page_content %}

{{ page_head ( 'VIDEO MEETUPS', doc.judul, doc.category ) }}

<div class="info row py-2 py-sm-0">
    {{ meta_host( doc.host ) }}

    {% set date = frappe.utils.formatdate(doc.creation, "dd mmmm yyyy") %}
    <div class="meta-publish col-12 col-sm-6 col-md-3 pt-4 pt-sm-0 text-center text-sm-right small align-self-center">{{ date }}</div>

    {{ meta_icons( doc.rating, doc.like_count, doc.favorite_count, doc.member_count ) }}
</div>

<h5 class="mt-5 mb-4">Topic: {{ subjudul }}</h5>

<div class="my-6 text-md-right">
    <span class="my-4">Available: </span><br class="d-md-none">
    <span class="bg-yellow font-weight-bold">{{ frappe.format_date(doc.start) }}</span> &dash;
    <span class="bg-yellow font-weight-bold">{{ frappe.format_date(doc.end) }}</span>
</div>

<div>
    <img src="{{ image }}" alt="">
</div>
<div class="mt-6">
    <div>{{ doc.deskripsi }}</div>
</div>

{% endblock %}

