.btn.btn-primary {
    background-color: rgb(235, 158, 94)!important;
}

.content-card {
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
}
.content-card .card .card-img-top {
    width: 100%;
    overflow: hidden;
    height: 12rem;
}
.content-card .card-img-top .default-cover {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEF0F2;
    font-size: 1.2rem;
    font-weight: 500;
    color: #74808B;
}
.card-img-top img {
    min-height: 12rem;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.text-muted-light {
    color: #c8c8c8;
}
.card-body {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding-bottom: 0.3rem;
}
.content-card .content-card-footer {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.content-card-footer .avatar {
    border-radius: 50%;
}
.featured {
    order: -1;
}
.star {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #fff;
    border-radius: 14px;
    margin-left: 0px;
    padding: 0 10px;
}
.member {
    position: absolute;
    bottom: 8px;
    right: 24px;
    background-color: #fff;
    border-radius: 14px;
    margin-left: 0px;
    padding: 0 10px;
}
.info {
    background-color: #f4f4f4;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid #E2E6E9;
    border-bottom: 1px solid #E2E6E9;
}
.cat-bullet {
    background-color: #EAF5EE;
    color: #2F9D58;
    padding: 2px 4px;
    border-radius: 6px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
}
#cat-chooser {
    height: 30px;
    background-color: #f4f4f4;
    border-top: 1px solid #E2E6E9;
    border-bottom: 1px solid #E2E6E9;
    margin-bottom: 3rem;
    overflow: hidden;
    white-space: nowrap;
}
#cat-chooser ul {
    text-align: center;
    height: 30px;
    padding-left: 0;
    padding-right: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#cat-chooser ul::-webkit-scrollbar {
    display: none;  /* Safari, Chrome */
}
#cat-chooser li {
    display: inline-block;
    list-style: none;
    width: 100px;
    line-height: 28px;
}
#cat-chooser li a {
    text-decoration: none;
    color: #333;
    display: block;
}
#cat-chooser li a:hover {
    text-decoration: none;
    /* color: #000000; */
    background-color: #ffc863;
}
.bg-yellow {
    background-color: #fffada;
    border: 1px solid #ffe121;
    padding: 2px 4px;
    border-radius: 4px;
}
.likes {
    background-color: #eee;
    border-radius: 0 0 10px 10px;
    margin-top: 0.5rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}
