.btn.btn-primary {
    background-color: rgb(235, 158, 94)!important;
}

.content-card {
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
}
.content-card .card .card-img-top {
    width: 100%;
    overflow: hidden;
    height: 12rem;
}
.content-card .card-img-top .default-cover {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEF0F2;
    font-size: 1.2rem;
    font-weight: 500;
    color: #74808B;
}
.card-img-top img {
    min-height: 12rem;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-card .content-card-footer {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.content-card-footer .avatar {
    border-radius: 50%;
}
.featured {
    order: -1;
}
.star {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #fff;
    border-radius: 14px;
    margin-left: 0px;
    padding: 0 10px;
}
.member {
    position: absolute;
    bottom: 8px;
    right: 24px;
    background-color: #fff;
    border-radius: 14px;
    margin-left: 0px;
    padding: 0 10px;
}
.info {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid #E2E6E9;
    border-bottom: 1px solid #E2E6E9;
}
.cat-bullet {
    background-color: #EAF5EE;
    color: #2F9D58;
    padding: 3px 10px;
    border-radius: 6px;
    margin-right: 8px;
}
